<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <!-- <style>
    a {
      font-size: 500%;
      text-align: center;
	    position: absolute;
	    top:0;
	    bottom: 0;
	    left: 0;
	    right: 0;
  	
	    margin: auto;
    }
  </style> -->
  <body>
    <main>
      <div class="showcase">
        <h1>WELCOME TO ARSGARD!</h1>
        <a class="button" href="{{ page.url | relative_url }}">ENTER</a> 
      </div>

    </main>

  </body>

</html>